html {
  font-size: 14px;
}
@media (min-width: 768px) {
html {
    font-size: 16px;
  }
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    color: #696969;
}

code {
    color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}