nav {
    background-color: var(--primaryColor);
}

body {
    color: var(--tertiaryColor);
}



.main {
    display: flex;
    padding-top: 25px;
    top: 45px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    overflow: auto;

    > div {
        overflow-y: auto;
    }

    > div:nth-child(1) {
        width: 20%;
        border-right: 2px solid var(--tertiaryColor);
        background-color: var(--secondaryColor);
    }

    > div:nth-child(2) {
        width: 85%;
    }
}

.contentTree {
    .pageNode {
        cursor: pointer;
        padding: 10px 0 10px 30px;


        &:hover {
            color: var(--primaryColor);

            .contextMenu{
                display:block;
            }
        }

        .contextMenu {
            display:none;
            float: right;
            padding-right: 3px;

            .contextItem {
                padding: 3px;
                border-radius: 5px;
                font-size: 12px;

                &:hover {
                    background-color: var(--tertiaryColor);
                    color: #ffffff;
                }
            }

            .glyphicon-remove {
                color: red;
                padding-top: 2px;
            }

            .glyphicon-plus {
                color: green;
            }
        }
    }
}

.pageDesigner {
    text-align: center;
    height: 100%;
    overflow-y: auto;

    .header {
        background: var(--secondaryColor);
        height: 50px;
        margin-bottom: 20px;
        text-align: right;
        padding-right: 50px;

        .tab {
            display: inline-block;
            padding: 10px 20px;
            height: 100%;
            cursor: pointer;

            &.active {
                background: #ffffff;
                border-top: solid 5px var(--tertiaryColor);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }

    .section {
        width: 70%;
        height: 150px;
        border: 2px solid var(--tertiaryColor);
        border-radius: 10px;
        margin: 0 auto 10px auto;
    }

    .addSection {
        width: 70%;
        border: 2px inset var(--tertiaryColor);
        border-radius: 10px;
        margin: 10px auto 20px auto;
        cursor: pointer;
        padding: 10px;

        &:hover {
            color: green;
            > span {
                background-color: green;
            }
        }

        > span {
            color: #ffffff;
            padding: 10px;
            background-color: var(--tertiaryColor);
            border-radius: 25px;
        }
    }
}