@color-primary: #8FBC8F;
@color-secondary: #f3f3f5;
@color-tertiary: #696969;


nav {
    background-color: @color-primary;
}

body {
    color: @color-tertiary;
}



.main {
    display: flex;
    padding-top: 25px;
    top: 45px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    overflow: auto;

    > div {
        overflow-y: auto;
    }

    > div:nth-child(1) {
        width: 15%;
        border-right: 2px solid @color-tertiary;
        background-color: @color-secondary;
    }

    > div:nth-child(2) {
        width: 85%;
    }
}

.contentTree {
    .pageNode {
        cursor: pointer;
        margin-left: 30px;
    }
}

.pageDesigner {
    text-align: center;
    height: 100%;
    overflow-y: auto;

    .header {
        background: @color-secondary;
        height: 50px;
        margin-bottom: 20px;
        text-align: right;
        padding-right: 50px;

        .tab {
            display: inline-block;
            padding: 10px 20px;
            height: 100%;
            cursor: pointer;

            &.active {
                background: #ffffff;
                border-top: solid 5px @color-tertiary;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }

    .section {
        width: 70%;
        height: 150px;
        border: 2px solid @color-tertiary;
        border-radius: 10px;
        margin: 0 auto 10px auto;
    }

    .addSection {
        width: 70%;
        border: 2px inset @color-tertiary;
        border-radius: 10px;
        margin: 10px auto 20px auto;
        cursor: pointer;
        padding: 10px;

        &:hover {
            color: green;
            > span {
                background-color: green;
            }
        }

        > span {
            color: #ffffff;
            padding: 10px;
            background-color: @color-tertiary;
            border-radius: 25px;
        }
    }
}